*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
yolov3-tiny.weights
yolov3-tiny.weights.1
yolov3.weights
backup/
backup_tiny/
bad.list
darknet53.conv.74
test.mp4
.ipynb_checkpoints/
VOCdevkit/
records/
